body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#myCarousel {
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;

.text{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #2e86c1;
}

h2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #2e86c1;
}

.list2{
  width:320px;
}
.list2. ol {
  font-style:italic;
  font-family:Georgia, Times, serif;
  font-size:50px;
  color:#bfe1f1;
}
.list2 .ol li { }

.list2 .ol li p {
  padding:8px;
  font-style:normal;
  font-family:Arial;
  font-size:13px;
  color:#eee;
  border-left: 1px;
  solid #999; }
