body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#myCarousel {
    padding-top: 50px;
    height: 40vh;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
