

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

/*-------------------------------------------------------------*/

  h1 {
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    text-align: center;
    color: #044d89;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/*-------------------------------------------------------------*/

/* Container for link to about pages */
.container {
    position: relative;
    float: left;
    width: 40%;
    border-radius: 5px;
    padding: 1% 5%;
}

/*Buttons on the pictures linking to about pages */
.bg {
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

/* creating responsive image */
.container img {
  width: 100%;
  height: auto;
}

/* syle for Button*/
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #31484c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: white;
}

/*-------------------------------------------------------------*/

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 35px;
  color: #044d89;
  margin-top:90px;
  margin-bottom: 30px;
}

/*-------------------------------------------------------------*/

/*-------------CSS for image row----------------*/

img{
	width:100%;
	height:auto;
}

.img-group{
    width: 100vw;
    height: 30vh;
	display:flex;
	flex-direction: row;
	align-items: center;
}


/*-------------------------------------------------------------*/


/* Style inputs for submit box */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: horizontal;
}

/* CSS for "submit" button */
input[type=submit] {
  background-color: #4CAF50;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS for mouse hover over "submit" button */
input[type=submit]:hover {
  background-color: #1d5920;
}


/* Text explaining use of submit form */
.paragraph {
  position: static;
  font-family: 'Poiret One', cursive;
  color: #044d89;
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom:5px;
  left:  30px;
  width: 95%;
}
