.color-1 {
    color: #2e86c1;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

  h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #2e86c1;
  }

  /* picture links */
  .column {
  float: right;
  width: 33%;
  padding: 5px;
}

.row {
    width: 100vw;
    padding: 0%;
    margin: 0%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    float: left;
    width: 40%;
    border-radius: 5px;
    padding: 1% 5%;
}

/*Buttons on the top */
.bg {
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #31484c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: white;
}


/*-------------CSS for images and relatable stuff----------------*/

img{
	width:100%;
	height:auto;
}

.img-group{
    width: 100vw;
    height: 30vh;
	display:flex;
	flex-direction: row;
	align-items: center;
}

/*.img-conatiner {
    width: 14vw;
    margin: 0%;
}*/

/*-------------------------------------------------------------*/


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: horizontal; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
