body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#myCarousel {
    padding-top: 0px;
    height: 100vh;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
}
<<<<<<< HEAD
=======

.text{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #2e86c1;
}

h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #2e86c1;
  font-size: 50px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #2e86c1;
  font-size: 30px;
}

ol li {
  background: #e2faff;
  padding: 5px;
  margin-left: 35px;
  list-style-position: inside;
  font-family: 'Overlock', cursive;
  font-size: 25px;
}

h3 {
  font-family: 'Courgette', cursive;
  font-weight= bold;
  text-align: center;
  font-size: 35px;
}

/*scroll to top botton */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
>>>>>>> 94c18a1fc7e217b18f1b6262433da33c71a7ee85
